{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}MyPortfolio{% endblock %}

{% block page_content %}
<div class="page-header">
    <h4>{{ title }}</h4>
    <table class="table table-striped">
    <tr>
        <th>Security Name</th>
        <th>Structure</th>
    </tr>
    {% for security in pagination.items %}
        <tr>
            <td><a href="/security/{{ security.id }}">{{ security.name }}</a></td>
            <td class="{% if security.stale == 'Yes' %}text-danger{% else %}text-primary{% endif %}">{{ security.structure }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{{ macros.pagination_widget(pagination, prevPage, nextPage, endpoint) }}
{% endblock %}
